[submodule "wreathe"]
	path = wreathe
	url = https://github.com/ethus3h/wreathe.git
[submodule "personal"]
	path = personal
	url = https://github.com/ethus3h/personal.git
[submodule "BeHeMMOth"]
	path = BeHeMMOth
	url = https://github.com/ethus3h/BeHeMMOth.git
[submodule "compiz-extra-snowflake-textures"]
	path = compiz-extra-snowflake-textures
	url = https://github.com/ethus3h/compiz-extra-snowflake-textures.git
[submodule "crystallize"]
	path = crystallize
	url = https://github.com/ethus3h/crystallize.git
[submodule "ember-retired-repositories"]
	path = ember-retired-repositories
	url = https://github.com/ethus3h/ember-retired-repositories.git
[submodule "ember-web-site-snapshots"]
	path = ember-web-site-snapshots
	url = https://github.com/ethus3h/ember-web-site-snapshots.git
[submodule "futuramerlin-web-toolkit"]
	path = futuramerlin-web-toolkit
	url = https://github.com/ethus3h/futuramerlin-web-toolkit.git
[submodule "MailKit-meta"]
	path = MailKit-meta
	url = https://github.com/ethus3h/MailKit-meta.git
[submodule "moon-1"]
	path = moon-1
	url = https://github.com/ethus3h/moon-1.git
[submodule "warcdealer"]
	path = warcdealer
	url = https://github.com/ethus3h/warcdealer.git
[submodule "wreathe-backgrounds"]
	path = wreathe-backgrounds
	url = https://github.com/ethus3h/wreathe-backgrounds.git
[submodule "wreathe-charselect"]
	path = wreathe-charselect
	url = https://github.com/ethus3h/wreathe-charselect.git
[submodule "wreathe-file-manager"]
	path = wreathe-file-manager
	url = https://github.com/ethus3h/wreathe-file-manager.git
[submodule "wreathe-icons"]
	path = wreathe-icons
	url = https://github.com/ethus3h/wreathe-icons.git
[submodule "wreathe-kernel"]
	path = wreathe-kernel
	url = https://github.com/ethus3h/wreathe-kernel.git
[submodule "wreathe-media-resources"]
	path = wreathe-media-resources
	url = https://github.com/ethus3h/wreathe-media-resources.git
[submodule "wreathe-office-resources"]
	path = wreathe-office-resources
	url = https://github.com/ethus3h/wreathe-office-resources.git
[submodule "wreathe-overlay"]
	path = wreathe-overlay
	url = https://github.com/ethus3h/wreathe-overlay.git
