[submodule "wreathe"]
	path = wreathe
	url = https://github.com/ethus3h/wreathe.git
[submodule "personal"]
	path = personal
	url = https://github.com/ethus3h/personal.git
[submodule "BeHeMMOth"]
	path = BeHeMMOth
	url = https://github.com/ethus3h/BeHeMMOth.git
[submodule "compiz-extra-snowflake-textures"]
	path = compiz-extra-snowflake-textures
	url = https://github.com/ethus3h/compiz-extra-snowflake-textures.git
[submodule "crystallize"]
	path = crystallize
	url = https://github.com/ethus3h/crystallize.git
[submodule "ember-retired-repositories"]
	path = ember-retired-repositories
	url = https://github.com/ethus3h/ember-retired-repositories.git
[submodule "ember-web-site-snapshots"]
	path = ember-web-site-snapshots
	url = https://github.com/ethus3h/ember-web-site-snapshots.git
