[submodule "wreathe"]
	path = wreathe
	url = https://github.com/ethus3h/wreathe.git
[submodule "personal"]
	path = personal
	url = https://github.com/ethus3h/personal.git
[submodule "BeHeMMOth"]
	path = BeHeMMOth
	url = https://github.com/ethus3h/BeHeMMOth.git
[submodule "compiz-extra-snowflake-textures"]
	path = compiz-extra-snowflake-textures
	url = https://github.com/ethus3h/compiz-extra-snowflake-textures.git
[submodule "crystallize"]
	path = crystallize
	url = https://github.com/ethus3h/crystallize.git
